# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Compiled Java classes
/target/

# Logs and reports
/log/
/test-output/

# OS-specific files
.DS_Store
Thumbs.db

# WebDriver executables
/lib/

# Test data file
test_data.txt
